.header {
    display: flex;
    border-bottom: ridge;
    height: 100px;
}

#header-container {
    display: inline-flex;
    margin-left: 0 !important;
}

.logo {
    float: right;
    cursor: default;
    padding: 9px;
    display: inline-flex;
    height: 100px;
}

h3 {
    height: 100px;
    margin-top: 35px !important;
}

h3 a {
    cursor: pointer !important;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 25px;
}


.row {
    margin: auto;
    max-width: 1000px;
    display: contents !important;
}


h1 {
    margin: auto;
    max-width: 950px;
    color: blanchedalmond;
}

span {
    font-style: italic;
    font-family: fantasy;
}

img {
    cursor: pointer;
}

#buscar {
    border: inset;
    border-radius: 9px;
    width: 200px;
}